<ion-header>
  <ion-toolbar>
    <ion-title>Prueba uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button [routerLink]="['/iniciar']" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>atras
    </ion-button>
    <ion-card-header style="text-align: center;">

      <h1 style="color: black;">Recuperar tu contraseña</h1>

      <ion-card-subtitle>Rellena los campos para solicitar tu nueva contraseña</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Correo</ion-label>
        <ion-input placeholder="Ingresa tu correo registrado" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Usuario:</ion-label>
        <ion-input placeholder="Ingresa tu usuario registrado" maxlength="8" mixlegth="3"></ion-input>
      </ion-item>

      <div style="text-align: center;">
        <ion-button [routerLink]="['/iniciar']" fill="clear">
          solicitar
        </ion-button>
      </div>

    </ion-card-content>



  </ion-card>

</ion-content>
