<ion-header>
  <ion-toolbar>
    <ion-title>detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-button [routerLink]="['/catalogo']" fill="clear">
      <ion-icon name="chevron-back-outline"></ion-icon>atras
    </ion-button>       <ion-card-header style="text-align: center;">

      <ion-card-title>{{ titulo}}</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-label>{{imagen}}</ion-label>


      <ion-label>{{ descripcion }}</ion-label>




    </ion-card-content>



  </ion-card>



</ion-content>
